html,
body {
    height: 100%;
    margin: 0;
}

.bg {
    list-style-position: inside;
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img1 {
    background-image: url("assets/main-bg.jpg");
}

.img2 {
    background-image: url("assets/the-games-bg.jpg");
}

.img3 {
    background-image: url("assets/features.jpg");
}

.img4 {
    background-image: url("assets/requirements.png");
}

.img5 {
    background-image: url("assets/top-score-bg.png");
}

.img6 {
    background-image: url("assets/newsletter.png");
}

ul {
    padding: 20px;
}

.navbar-brand,
.the-story,
li a:link,
li a:visited,
a:hover,
p {
    color: white !important;
}

.navbar-brand,
li a:link,
a:visited {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    margin-right: 50px;
    font-size: 25px;
    letter-spacing: 5px;
}

li a:link,
a:visited {
    font-size: 12px;
    letter-spacing: 2px;
}

p {
    letter-spacing: 2px;
}

.content-1 {
    margin-top: 150px;
}

.content-2 {
    padding-top: 200px;
    z-index: 1;
}

.text-title-1 {
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.text-title-2 {
    font-size: 56px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.btn {
    height: 50px;
    width: 270px;
    padding-top: 1.2%;
    padding-bottom: 2.6%;
    background-color: #f9b23e;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
}

.story {
    margin-top: 250px;
    z-index: 2;
}

.the-story {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

.carousel,
.slide {
    height: 380px;
    width: 800px;
}