/* core */
html,
body {
    height: 100%;
    margin: 0;
}

.bg {
    min-height: 500px;
    height: 100%;
    width: auto;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img1 {
    background-image: url("assets/main-bg.jpg");
}

.img2 {
    background-image: url("assets/the-games-bg.jpg");
}

.img3 {
    background-image: url("assets/features.jpg");
}

.img4 {
    background-image: url("assets/requirements.png");
}

.img5 {
    background-image: url("assets/top-score-bg.png");
}

.img6 {
    background-image: url("assets/newsletter.png");
}

ul {
    padding: 20px;
}

.navbrand,
.story-text,
li a:link,
li a:visited,
a:hover,
p {
    color: white !important;
}

.navbrand,
li a:link,
a:visited {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbrand {
    margin-right: 50px;
    font-size: 25px;
    letter-spacing: 5px;
}

li a:link,
a:visited {
    font-size: 12px;
}

.content-1 {
    top: 130px;
    position: relative;
    z-index: 1;
}

.content-2 {
    margin-left: 100px;
    top: 200px;
    position: relative;
    z-index: 1;
}

.content-3 {
    height: 500px;
    top: 150px;
    position: relative;
    z-index: 1;
}

.content-4 {
    padding-left: 8vh;
    top: 120px;
    position: relative;
    z-index: 1;
}

.content-5-1 {
    padding-left: 100px;
    top: 230px;
    position: relative;
    z-index: 1;
}

.content-5-2 {
    width: 800px;
    top: 100px;
    position: relative;
    z-index: 1;
}

.content-6 {
    height: 500px;
    width: 45%;
    top: 100px;
    position: relative;
    z-index: 1;
}

.content-footer {
    width: 80%;
    top: 100px;
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
}

.text-title-1 {
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.text-title-2,
.text-title-3,
.text-title-4,
.text-title-5,
.text-title-6 {
    font-size: 56px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.h1 {
    letter-spacing: 2px;
}

.h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    z-index: 2;
}

.sub-title {
    color: #f9b23e !important;
}

/* ----------------------------------------------------- */

/* important buttons */
.play-btn,
.see-more-btn,
.subscribe-btn {
    height: 50px;
    width: 270px;
    padding-top: 1%;
    padding-bottom: 2.4%;
    background-color: #f9b23e;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
}

.story {
    top: 340px;
    position: relative;
    z-index: 2;
}

.story-text {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

/* about page (2) */
.carousel {
    height: 380px;
    width: 800px;
}

.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: none;
    border: 1px solid #fff;
}

.active {
    background: #fff !important;
}

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

/* system requirements page (4) */
.mycomputer {
    top: 100px;
    position: relative;
}

.system {
    height: 42vh;
    width: 65vh;
}

/* newsletter page (6) */
.email-label {
    color: gray;
}

.email {
    color: #f9b23e !important;
    width: 300px;
}

.under-footer {
    letter-spacing: normal;
}

.copyright {
    padding-right: 520px;
    color: gray !important;
}